.main__features {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.main__features-block {
    margin: 0 0 20px 0;
}
.main__features-block-title {
    text-align: center;
}
.main__features-content {
    /* justify-content: space-between; */
    display: flex;
}
.features-icon {
    width: 10%;
    display: flex;
    justify-content: center;
}
.content-icon{
    display: none;
}
.feature-text {
    width: 90%;
    display: flex;
    justify-content: center;
}
.content-text {
    
}
@media (min-width: 620px) {
    .content-icon{
        display: block;
        width: 40px;
    }    
}