.main__form {
}
.main__form-title {
    text-align: center;
    margin: 0 0 20px 0;
}
.main__form-block {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.main__form-input {
    
}
.main__form-button {
    width: 110px;
    height: 30px;
    padding: 0 20px;
    margin: 15px 0;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}
.button {
}