.header {
}
.header__logo {
    margin: 15px 0 0 0;
    margin: 0 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__logo-img {
    width: 100%;
    height: 120px;
}
.header__menu {
    margin: 40px 0 0 0;
    padding: 0 50px;
    
}
.header__menu-list {
}
.header__menu-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 5px 0;
}
.link {
    margin: 0 15px 0 0;
}

@media (min-width: 620px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
    .header__menu-list {
        margin: 10px 0 0 0;
        padding: 0 50px;
        display: flex;
    }
    .header__menu-list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px 5px 0;
    }
}